* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 130px;
  width: 100%;
}

.logo h2 {
  cursor: pointer;
}

.links a {
  margin: 33px;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .links a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .links a.active {
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}

.navbar-right i {
  margin: 19px;
  cursor: pointer;
}

.navbarIcon {
  font-size: 25px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(243, 242, 238);
  height: 500px;
}

.hero .title {
  display: flex;
  flex-direction: column;
}

.title h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
}

.slider {
  width: 30%;
  height: 100%;
  display: flex;
}

.slide {
  object-fit: cover;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#products .product {
  width: 30%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#products .product img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40vh;
  object-fit: contain;
}

.product h4 {
  margin-top: 20px;
  text-align: center;
  font-size: small;
}

.product a {
  text-decoration: none;
}

.product p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f00;
}

.products button {
  width: 80%;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin: 11px auto;
  display: block;
}

.products button:hover {
  background-color: #0069d9;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.footer-left,
.footer-right {
  text-align: center;
  align-self: center;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1150px) {
  .navbar {
    flex-direction: column;
  }
  .links {
    margin: 11px 0px;
  }
  .links a {
    margin: 9px;
  }
  .navbar-right i {
    margin: 3px;
    cursor: pointer;
  }
  .navbar a {
    padding: 2px 9px;
  }
  .slider {
    display: none;
  }
  .hero .title {
    text-align: center;
  }
}

.about {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.about-text {
  width: 550px;
}

.about h1 {
  color: rgb(58, 93, 116);
}

.about p {
  font-size: 20px;
  line-height: 27px;
  margin: 30px 0px;
}

.about button {
  padding: 11px;
  background-color: rgb(58, 93, 116);
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.about button:hover {
  opacity: 0.8;
}

.about img {
  width: 600px;
  height: 300px;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
  font-size: 18px;
}

input {
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

.contact img {
  width: 400px;
  height: 400px;
}

.contact-text {
  width: 666px;
}

.contact p {
  margin: 11px 0px;
}

.contact h1 {
  color: rgb(58, 93, 116);
}

.contact button {
  padding: 11px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(58, 93, 116);
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  margin-top: 11px;
}

.contact button:hover {
  opacity: 0.8;
}

.cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.cart .product {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
}

.cart .product img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 10vh;
  object-fit: contain;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.cart-summary .buy-now-btn {
  padding: 10px;
  width: 200px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}

.cart-summary .signout-btn {
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  padding: 10px;
  width: 100px;
  margin-top: 33px;
  cursor: pointer;
}

.cart .delete {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 20px;
  cursor: pointer;
}

.product-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
}

.product-page img {
  width: 400px;
  height: 500px;
}

.addProduct {
  width: 110px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.product-page .category {
  text-transform: uppercase;
  color: gray;
}

.product-page .name {
  font-size: 33px;
  line-height: 40px;
  margin: 11px 0px;
}

.product-page .singleProduct-text {
  width: 700px;
}

.product-page .price {
  margin: 11px 0px;
}

.product-page .description {
  line-height: 20px;
  font-size: 17px;
  letter-spacing: 1px;
}

.sign-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 6vh;
}

.sign-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 33vh;
}

.sign-section label {
  color: #5c5e62;
  font-weight: 400;
  font-size: 0.95rem;
  padding-left: 15px;
}
.sign-section input {
  background-color: #f4f4f4;
  margin-bottom: 20px;
  outline: none;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 0.95rem;
  transition: all 0.2s;
}

.sign-section form button {
  border: none;
  padding: 12px 20px;
  letter-spacing: 0.6px;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  background-color: #3d69e1;
  cursor: pointer;
}

.sign-section .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-section .line span {
  color: #5c5e62;
}

.sign-section hr {
  width: 150px;
}

.sign-section .create-button {
  width: 330px;
  background-color: transparent;
  border: 4px black solid;
  color: black;
  transition: all 0.5s;
  padding: 12px 20px;
  font-size: 0.85rem;
  letter-spacing: 0.6px;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.payment input {
  width: 300px;
  margin: 11px 0px;
}

.payment .buy-button {
  background-color: blue;
  border: none;
  border-radius: 6px;
  width: 150px;
  color: white;
  font-size: 18px;
  padding: 6px;
}
